[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-MiniTell
name: teska-MiniTell
description: Installiert Minitell Schreibprogramm im Kompatibiltätsmodus XP3
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript:
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

